{% extends "../base.html" %}

{% block title %}New transaksi : {% end %}

{% block content %}
{% autoescape None %}
<form role="form form-vertical" action="{{ request.path }}" method="post" id="transaksi-form">
    {% for field in form %}
        <div class="row">
            <div class="form-group">
                {{ field.label(class_="control-label") }}
                {% if field.name == 'amount' %}
                    {{field(id="amount", class_="form-control number")}}
                {% else %}
                    {{ field(class_="form-control", rows="3") }}
                {% end %}
                {% if field.errors %}
                   {% for error in field.errors %}
                      <div class="form-group help-block has-warning"><span style="color: red;"> {{error}} </span> </div>
                   {% end %}
                {% end %}
            </div>
        </div>

    {% end %}
            <div><input type="submit" class="btn btn-default btn-md" value="{{ _("Insert") }}" /></div>
    {% module xsrf_form_html() %}
</form>
{% end %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
$('#transaksi-form').formValidation({
    fields: {
        info: {
            validators: {
                notEmpty: {
                    message: 'Info dan kegunaan diperlukan'
                    }
                }
            },
        amount: {
            validators: {
                notEmpty: {
                    message: 'Harga diperlukan'
                },
                numeric: {
                    transformer: function($field, validatorName) {
                        // $field is the jQuery object presenting the field element
                        // validatorName is the name of current validator (numeric)

                        // In fact, you might adjust this transformer to suit your usage
                        // In this case, this function simply replaces comma with blank space
                        // as a basic usage
                        var value = $field.val();
                        return value.replace(',', '');
                    }
                }
            }
        },
        memo: {
            validators: {
                notEmpty: {
                    message: 'Catatan tentang transaksi'
                }

            }
        },
    }
});


});

</script>
{% end %}

