{% extends "../base.html" %}


{% block content %}

<div class="container">
 <div class="row" data-bind="foreach: transaksiEntries">
    <div class="list-group">
        <div class="list-group-item">
            <a href="#" class="pull-right">
                <img src="{{ static_url("images/rupiah.png")}}" height=60 width=60 class="media-object" alt="Sample Image">
                <div class="text-center">
                    <b><span class="amount" data-bind="text: amount"></span></b>
                </div>
            </a>
            <div class="media-body">
                <h3 class="media-heading"><span data-bind="text: info"></span></h3>
                <span data-bind="text: memo"></span>
                <h6><p><i>Transaksi oleh: pada tanggal :</i> </p></h6>
            </div>
        </div> <!-- end list-group-item block -->
    </div> <!-- end list-group block -->
 </div>  <!-- end row block -->
</div>


{% end %} <!-- end content block -->



{% block script %}

<script src="{{ static_url("Transaksi.js")}}"></script>

<script type="text/javascript">
  $(document).ready(function() {
     $('div.jumlah').priceFormat({ prefix: 'Rp. ', thousandsSeparator: '.',  centsSeparator: ',', centsLimit: 0});
     $('span.amount').priceFormat({ prefix: '', thousandsSeparator: '.',  centsSeparator: ',', centsLimit: 0});
  });
</script>
{% end %} <!-- end script block -->
