{% extends "../base.html" %}


{% block content %}

<div class="container">
 <div class="jumlah" data-bind="text: total"></div>
 <div class="row" data-bind="foreach: transaksiEntries, visible: transaksiEntries().length > 0 ">
    <div class="list-group">
        <div class="list-group-item">
            <a href="#" class="pull-right">
                <img src="{{ static_url("images/rupiah.png")}}" height=60 width=60 class="media-object" alt="Sample Image">
                <div class="text-center">
                    <b><span class="amount" data-bind="text: amount"></span></b>
                </div>
            </a>
            <div class="media-body">
                <h3 class="media-heading"><span data-bind="text: info"></span></h3>
                <span data-bind="text: memo"></span>
                <h6><p><i>Transaksi oleh: <b data-bind="text: user"></b> pada tanggal : <b data-bind="text: transdate"></b></i> </p></h6>
            </div>
        </div> <!-- end list-group-item block -->
    </div> <!-- end list-group block -->
 </div>  <!-- end row block -->


<div class="pull-right">
    <a id="new-transaksi" class="btn btn-success"
       data-toggle="modal" data-target="#transaksi-modal">Add transaksi</a>
<hr>
</div>

</div>

 <!-- Modal --> 
<div class="modal fade" id="transaksi-modal" tabindex="-1" role="dialog"  aria-labelledby="transaksi-modal-Label" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
        <button type="button" class="close"  data-dismiss="modal" aria-hidden="true"> &times; </button> 
        <h3 class="modal-title" id="transaksi-modal-Label"> Transaksi entri </h3> 
      </div> 

      <div class="modal-body"> 
          Add some text here
      </div>

      <div class="modal-footer"> 
        <button type="button" class="btn btn-default"  data-dismiss="modal">Close </button>
        <button type="button" class="btn btn-default btn-success"> Submit changes </button> 
      </div>

   </div><!-- /.modal-content --> 
</div><!-- /.modal --> 

{% end %} <!-- end content block -->



{% block script %}

<script src="{{ static_url("Transaksi.js")}}"></script>

<script type="text/javascript">
  $(document).ready(function() {
     $('div.jumlah').priceFormat({ prefix: 'Rp. ', thousandsSeparator: '.',  centsSeparator: ',', centsLimit: 0});
     $('span.amount').priceFormat({ prefix: '', thousandsSeparator: '.',  centsSeparator: ',', centsLimit: 0});
  });
</script>
{% end %} <!-- end script block -->
