{% extends "../base.html" %}

<div class="container">
{% block content %}
    {% for item in data %}
    <form action="/news/{{item.mid}}/delete" method="post">
    {% module xsrf_form_html() %}
    <input type=hidden name="mid" value="{{ item.mid}}"></>

    <div class="media">
        <a href="#" class="pull-left">
            <img src="{{ static_url("images/dollar.png")}}" class="media-object" alt="Sample Image">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ item.title}} <small><i>Posted on January 10, 2014</i></small></h4>
            <p>{{ item.body }}</p>
            <h5><p><small><i>Posted by :</i>{{ item.author.name }}</small></p></h5>
        </div>
    </div>

    </form>
    {% end %}
{% end %}
</div>

