{% extends "../base.html" %}

<div class="container">
{% block content %}
    {% for item in data %}
    <form action="/news/{{item.mid}}/delete" method="post">
    {% module xsrf_form_html() %}
    <input type=hidden name="mid" value="{{ item.mid}}"></>
    <div class="list-group">
        <h3 class="list-group-item-heading">{{ item.title}}</h3>
        <p class="list-group-item-text">{{ item.body }}</p>
        <p class="list-group-item-text">
           <button type=submit class="btn btn-link btn-sm"><i class="glyphicon glyphicon-trash"></i></button>
        </p>
    </div>
    </form>
    {% end %}
{% end %}
</div>

